@import url('https://fonts.googleapis.com/css?family=Anton');

.high-usage {
  background-image: url('https://media.tenor.com/images/faf937f10f690166d9a4e3be035825dd/tenor.gif')
}

.low-usage {
  background-image: url('https://media1.tenor.com/images/f91ba2b54b9154728072221b518e23ea/tenor.gif?itemid=10674172')
}

.medium-usage {
  background-image: url('https://m.popkey.co/7aa1d2/dWdvA.gif')
}

body {
  font-size: 150px;
}

button {
  -webkit-animation: rainbow 0.5s infinite;
  background-color: #000000;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border-radius: 50px;
     font-size: 75px;
}

.temperature {
  font-family: 'Anton', sans-serif;

}

.rainbow {
  /* Chrome, Safari, Opera */
 -webkit-animation: rainbow 0.5s infinite;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    20%{color: red;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: orange;}
}
