.high-usage {
  background-image: url('https://media.tenor.com/images/faf937f10f690166d9a4e3be035825dd/tenor.gif')
}

.low-usage {
  background-image: url('https://media1.tenor.com/images/f91ba2b54b9154728072221b518e23ea/tenor.gif?itemid=10674172')
}

.medium-usage {
  background-image: url('https://m.popkey.co/7aa1d2/dWdvA.gif')
}
